.red{
    height: 100px;
    width: 100px;
    background-color: red;
    position: relative;
    left: 200px;
    /* we don't need to move every element 100px or 200px
    just to keep them in line we can siply use
    display: inline-block */
}

.blue{
    height: 100px;
    width: 100px;
    background-color: blue;
    position: relative;
    bottom: 100px;
    /* we don't need to move every element 100px or 200px
    just to keep them in line we can siply use
    display: inline-block */

}

.yellow{
    height: 100px;
    width: 100px;
    background-color: yellow;
    position: relative;
    bottom: 200px;
    left: 100px;
    /* we don't need to move every element 100px or 200px
    just to keep them in line we can siply use
    display: inline-block */
}